* {
  margin: 0;
  padding: 0;
}

/* project bg section start */
.about-bg {
  height: 250px;
  background-image: url("./public/IMAGES/about us-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  height: 300px;
}

.about-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.about-bg h1 {
  z-index: 3;
  position: relative;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-bg h1 {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
}
/* project bg section end */

